body{
    background-image: url('image_back.png');
    background-size: 15%;
}

p{
    color:red;
}

h1{
    color: blue;
}

.titre{
    text-decoration: line-through;
}

#image{
    width:200px;
}

a:hover{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.p{
    background-color: black;
}

#p_2{
    font-style: italic;
}