body{
    background-image: url('image_back.png');
    background-size: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.item{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 60px;
}

p{
    color:red;
}

h1{
    color: blue;
}

.titre{
    text-decoration: line-through;
}

#image{
    width:200px;
}

a:hover{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    color: aliceblue;
}

.p{
    background-color: black;
}

#p_2{
    font-style: italic;
}

form{
    background-color: black;
}

#titre_form{
    color: aliceblue;
    left: 20px;
}

label{
    color: aliceblue;
}